<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Timesystem{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
        }
        .page-wrap {
            min-height: 100%;
            /* equal to footer height */
            margin-bottom: -30px;
        }
        .page-wrap:after {
            content: "";
            display: block;
        }
        footer, .page-wrap:after {
            height: 30px;
        }
        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 30px;
            background: #f0f0f0;
            padding: 5px 15px;
        }
        footer ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        footer li {
            float: left;
            padding: 0 15px;
        }
    </style>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
    <div class="page-wrap container-fluid">
        {% block content %}{% endblock %}
    </div>
    {% block footer %}
        <footer class="clearfix">
            <nav>
                <ul>
                    <li><a href="{{ url('home') }}">Forside</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ url('employees') }}">Medarbejdere</a></li>
                    {% endif %}
                    <li><a href="{{ url('employees_checked_in') }}">Medarbejdere der er logget ind</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ url('report') }}">Lav opgørelse til revisor</a></li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="For at logge ud, skal du lukke browseren">Log ud</a></li>
                    {% else %}
                        <li><a href="{{ url('admin_home') }}">Log ind</a></li>
                    {% endif %}
                </ul>
            </nav>
        </footer>
    {% endblock %}
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script>
    $(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% block javascripts %}{% endblock %}
</body>
</html>
