{% extends 'base.html.twig' %}

{% block title %}Administrator{% endblock %}

{% block content %}
    <h1>Admin</h1>
    <h2>Du er nu logget ind og har admin-funktionaliteter på sitet</h2>
{% endblock %}