{% extends 'base.html.twig' %}

{% block title %}Medarbejdere der er tjekket ind{% endblock %}

{% block content %}
    <h1>Medarbejdere der er tjekket ind</h1>
    {% if timePunches is empty %}
        <p>Ingen. Yeehaaa!</p>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>Medarbejderid</th>
                    <th>Navn</th>
                    <th>Check in</th>
                </tr>
            </thead>
            <tbody>
                {% for tp in timePunches %}
                    <tr>
                        <td>{{ tp.employee.identifier }}</td>
                        <td><a href="{{ path('report_employee', {'identifier' : tp.employee.identifier}) }}">{{ tp.employee.firstName }} {{ tp.employee.lastName }}</a></td>
                        <td>{{ tp.timestamp|date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}