{% extends 'base.html.twig' %}

{% block content %}
    <h1>Opret medarbejder</h1>
    {% for message in app.session.flashBag.get('notice') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success btn-lg" type="submit">Gem</button>
    {{ form_end(form) }}
{% endblock %}