{% extends 'base.html.twig' %}

{% block title %}Medarbejdere{% endblock %}

{% block content %}
    <h1>Medarbejdere</h1>
    <p><a href="{{ url('employees', {'all': 1}) }}">Vis alle medarbejdere (inkl. deaktiverede)</a></p>
    <table class="table">
        <thead>
        <tr>
            <th>Medarbejderid</th>
            <th>Navn</th>
            <th>Aktiver / deaktiver</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.identifier }}</td>
                <td><a href="{{ url('report_employee', {'identifier' : employee.identifier}) }}">{{ employee.firstName }} {{ employee.lastName }}</a></td>
                <td>
                    {% if employee.active %}
                        <a href="{{ url('employee_deactivate', {'id' : employee.id}) }}">Deaktiver</a>
                    {% else %}
                        <a href="{{ url('employee_activate', {'id' : employee.id}) }}">Aktiver</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}