{% extends 'base.html.twig' %}

{% block title %}Indtast eller scan medarbejdernummer{% endblock %}

{% block stylesheets %}
<style>
    .page-wrap {
        text-align: center;
        padding: 100px;
    }
    input.form-control {
        font-size: 40px;
        height: auto;
        text-align: center;
    }
    .time-punch {
        margin-bottom: 50px;
        font-size: 30px;
    }
    .glyphicon {
        font-size: 100px;
    }
    .glyphicon-log-in {
        color: green;
    }
    .glyphicon-log-out {
        color: red;
    }
    .state {
        font-size: 50px;
        text-transform: uppercase;
        margin: 20px 0;
    }
    .state .ready {
        color: green;
    }
    .state .wait {
        color: red;
        display: none;
    }
</style>
{% endblock %}

{% block content %}
    {% if timePunch is defined %}
        <div class="time-punch">
            {% if timePunch.getAction() == 'checkIn' %}
                <div><span class="glyphicon glyphicon-log-in"></span></div>
                <p>Tjekket ind</p>
            {% else %}
                <div><span class="glyphicon glyphicon-log-out"></span></div>
                <p>Tjekket ud</p>
            {% endif %}
            <div>{{ timePunch.employee.firstName }} {{ timePunch.employee.lastName }}</div>
            <div>{{ timePunch.timestamp.format('j/n Y H:i') }}</div>
        </div>
    {% endif %}
    <div class="state">
        <div class="ready">Scan eller indtast medarbejderid</div>
        <div class="wait">Vent med at scanne...</div>
    </div>
    <form action="{{ url('home') }}" method="get">
        <input type="text" name="identifier" class="form-control" placeholder="Scan/indtast medarbejderid..." autocomplete="off">
    </form>
{% endblock %}

{% block javascripts %}
    <script>
        function focusOrderId() {
            $("form input[name='identifier']").focus();
        }

        var focusIntervalId = setInterval(focusOrderId, 500);

        $(function() {
            focusOrderId();

            $("form").on("submit", function() {
                clearInterval(focusIntervalId);
                $('form input[name="identifier"]').attr("readonly", true);
                $(".state .ready").hide();
                $(".state .wait").show();
                return true;
            });
        });
    </script>
{% endblock %}