{% extends 'base.html.twig' %}

{% block title %}Rapport til revisor{% endblock %}

{% block stylesheets %}
<style>
    input.form-control {
        width: auto;
    }
</style>
{% endblock %}

{% block content %}
    <h1>Rapport til revisor</h1>
    <h2>Vælg periode</h2>
    <form action="" method="get">
        <div class="form-group">
            <label for="input-from">Fra</label>
            <input type="text" class="datepicker form-control" name="from" id="input-from" placeholder="Indtast dato..." value="{{ from|date(date_format) }}" required>
        </div>
        <div class="form-group">
            <label for="input-to">Til</label>
            <input type="text" class="datepicker form-control" name="to" id="input-to" placeholder="Indtast dato..." value="{{ to|date(date_format) }}" required>
        </div>
        <div class="form-group">
            <p><strong>HUSK</strong> begge dage er inklusiv.</p>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg">Vis rapport</button>
        </div>
    </form>
    <h2>Rapport</h2>
    <form action="" method="post" class="form-inline">
        <div class="form-group">
            <label for="input-email">Email</label> <input style="width: 300px;" type="email" name="email" id="input-email" class="form-control" placeholder="Indtast email" required value="{{ email }}">
        </div>
        <button type="submit" class="btn btn-success">Send til email</button>
    </form>
    {% if file is not empty %}
        <div style="margin-top: 20px;" class="alert alert-info">Filen <strong><a href="{{ file }}">{{ file }}</a></strong> er blevet sendt til <strong>{{ email }}</strong></div>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Navn</th>
                <th>Timer</th>
            </tr>
        </thead>
        <tbody>
            {% for item in reportItems %}
                <tr>
                    <td><a href="{{ url('report_employee', {'identifier' : item.employee.identifier}) }}">{{ item.employee.firstName }} {{ item.employee.lastName }}</a></td>
                    <td>{{ item.hours|number_format }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
        $( function() {
            $(".datepicker").datepicker({
                format: "d/m yyyy",
                autoclose: true
            });
        } );
    </script>
{% endblock %}