{% extends 'base.html.twig' %}

{% block title %}Rapport for {{ employee.firstName }} {{ employee.lastName }}{% endblock %}

{% block content %}
    <h1>Rapport for {{ employee.firstName }} {{ employee.lastName }} (ID: {{ employee.identifier }})</h1>
    <form action="" method="post">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Handling</th>
                <th>Tidspunkt</th>
                <th style="text-align:right"><button type="submit" class="btn btn-success">Gem</button></th>
            </tr>
            </thead>
            <tbody>
            {% for item in timePunches %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.getAction() }}</td>
                    <td>
                        {{ item.timestamp|date }}
                        {% if is_granted('ROLE_ADMIN') %}
                            <input class="form-control" style="display:inline;width:auto" type="text" name="datetimes[{{ item.id }}]" value="{{ item.timestamp|date }}">
                        {% endif %}
                    </td>
                    <td style="text-align: right;"><button type="button" class="btn btn-danger btn-delete" data-entity-id="{{ item.id }}">Slet</button></td>
                </tr>
            {% endfor %}
            </tbody>
            {% if is_granted('ROLE_ADMIN') %}
                <tfoot>
                    <tr>
                        <td colspan="4" style="text-align: right">
                            <button type="submit" class="btn btn-success">Gem</button>
                        </td>
                    </tr>
                </tfoot>
            {% endif %}
        </table>
    </form>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            $(".btn-delete").on("click", function() {
                if(confirm('Er du sikker?')) {
                    var id = $(this).data("entity-id");
                    var url = Routing.generate('delete_time_punch', {
                        'id' : id
                    });

                    location.href = url;
                }
            });
        });
    </script>
{% endblock %}